*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f6f8f9;
}

header{
    height: 15vh;
    background-color: white;
}

header > img{
    height: 5rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

header > h1{
    display: inline-block;
    vertical-align: 4vh;
    font-size: 40px;
}

main{
    width: 70vw;
    height: 78vh;
    background-color: white;
    margin: auto;
    margin-top: 5vh;
    border-radius: 0.9rem;
}

nav{
    height: 11%;
    width: 100%;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    border-bottom: 1px solid lightgrey;
}

.btn{
    margin-top: 20px;
    margin-left: 50px;
    padding: 8px;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: white;
    transition: background-color .5s;
    color: #d5d9dd;
    border: #d5d9dd solid 2px;
}


.btn:active, .btn:focus{
    background-color: #47adf1;
    color: white;
    border: none;
}

#add-task{
    
}

#add-section{
    margin-left: 0.20rem;
}

section{
    margin-top: 2rem;
}


.black-triangle{
    font-size: 15px;
    margin-left: 50px;
    margin-right: 10px;
}



section > h2{
    display: inline-block;
    font-size: 20px;
}

ul{
    list-style-type: none;
    margin-left: 10px;
}

li{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-weight: 500;
}

li > span{
    margin-right: 0.5rem;
    font-size: 8px;
    font-weight: bold;
    border-radius: 50%;
    padding: 0.2rem; 
    cursor: pointer;
}

.checked{
    border: #74c8b4 solid 0.08rem;
    color: #74c8b4;
}

.missing{
    border: red solid 0.08rem;
    color: red;
}


.label{
    height: 25px;
    width: 80px;
    background-color: red;
    display: inline-block;
    margin-left: 0.3rem;
    margin-top: 0.050rem;
    text-align: center;
    border-radius: 1rem;
    padding: 0.170rem;
    padding-top: 0.325rem;
    font-size: 11px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    
}

.editorial{
    background-color: #45abea;
}

.q1goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29e33;
}

.refresh{
   background-color: #d863a1
}

.sales{
    background-color: #b0c926;
}

