*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f6f8f9;
}

header{
    height: 15vh;
    background-color: white;
}

header > img{
    height: 5rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

header > h1{
    display: inline-block;
    vertical-align: 4vh;
    font-size: 40px;
}

main{
    width: 70vw;
    height: 78vh;
    background-color: white;
    margin: auto;
    margin-top: 5vh;
    border-radius: 0.9rem;
}

nav{
    height: 13%;
    width: 100%;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    border-bottom: 1px solid lightgrey;
}

.btn{
    margin-top: 30px;
    margin-left: 50px;
    padding: 8px;
    border-radius: 0.3rem;
    cursor: pointer;
}

#add-task{
    background-color: #47adf1;
    color: white;
    border: none;
}

#add-section{
    margin-left: 0;
    background-color: white;
    color: #d5d9dd;
    border: #d5d9dd solid 2px;
}

section{
    margin-top: 2rem;
}

.black-triangle{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 10px;
}



section > h2{
    display: inline-block;
}

ul{
    list-style-type: none;
    margin-left: 50px;
}

li{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

li > span{
    margin-right: 0.5rem;
    font-size: 10px;
    font-weight: bold;
}

.checked{
    border-radius: 50%;
    border: #74c8b4 solid 0.08rem;
    color: #74c8b4;
    padding: 0.2rem;
}

.missing{
    border-radius: 50%;
    border: red solid 0.08rem;
    color: red;
    padding: 0.2rem; 
}
