*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f6f8f9;
}

header{
    height: 15vh;
    background-color: white;
}

header > img{
    height: 5rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

header > h1{
    display: inline-block;
    vertical-align: 4vh;
    font-size: 40px;
}

main{
    width: 70vw;
    height: 78vh;
    background-color: white;
    margin: auto;
    margin-top: 5vh;
    border-radius: 0.9rem;
}

nav{
    height: 13%;
    width: 100%;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    border-bottom: 1px solid lightgrey;
}